<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Content Sharing - Accessories  </title>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index-style.css">
  </head>
  <body>
    <% include header.ejs %>

    <div class="nav-1">
      <% include user-navigation.ejs %>
    </div>

    <div class="page-content">
      <% include site-navigation.ejs %>

      <div class="article">
        <div class="content">
          <p>Who are <strong>Accessories Sharing</strong> people! </p>
          <p>This is an academic project being done under the guidance of professor Nadia Najjar towards the completion of the
          course Network Based Application Development (NBAD)</p>
          <p>Below are the student details: </p>
          <p><strong>Name:</strong>Siva Kumar Reddy Vayyeti</p>
          <p><strong>Student ID:</strong>801081305</p>
          <p><strong>Degree:</strong>Master of Science</p>
          <p><strong>Program:</strong>Computer Science (CS)</p>
        </div>
      </div>
    </div>

    <% include footer.ejs %>

  </body>
</html>
