<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Content Sharing - Accessories  </title>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index-style.css">
  </head>
  <body>
    <% include header.ejs %>

    <div class="nav-1">
      <% include user-navigation.ejs %>
    </div>

    <div class="page-content">
      <% include site-navigation.ejs %>

      <div class="article">
        <div class="content">
          <p>For any queries/tips/suggestions, You are always welcome to contact us at <strong>Accessories Sharing</strong> site! </p>
          <p>E-mail: <strong>nbad-project-svayyeti@uncc.edu</strong></p>
        </div>
      </div>
    </div>

    <% include footer.ejs %>

  </body>
</html>
