<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Content Sharing - Accessories  </title>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index-style.css">
  </head>
  <body>
    <% include header.ejs %>

    <div class="nav-1">
      <% include user-navigation.ejs %>
    </div>

    <div class="page-content">
      <% include site-navigation.ejs %>

      <div class="article">
        <div class="content">
          <p>Welcome to <strong>Accessories Sharing</strong> site! </p>
          <p>This is place for people who don't have permenant settlement at one place for a very long duration
            but are in need of all kinds of day-to-day accessories and dont't want to buy new products all together.</p>
          <p>This site will have wide variety of accessories collections and people can share them while they are moved to a new place and this loops</p>
          <p><i>Use &nbsp; Share &nbsp; Repeat</i></p>
        </div>
      </div>
    </div>

    <% include footer.ejs %>

  </body>
</html>
