<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Content Sharing - Accessories  </title>

    <link rel="stylesheet" type="text/css" href="static/item-details-style.css">
  </head>
  <body>
    <header class="header">
      <div class="clearfix">
        <p class="logged-user">not signed in</p>
        <img alt="logo" src="static/gif-logo.gif" />
        <h2>Accessories Sharing</h2>
      </div>
    </header>

    <div class="nav-1">
      <nav class="nav-horizontal">
        <ul>
          <li><a href="#">Signin</a></li>
          <li><strong>|</strong></li>
          <li><a href="my-items.html">My Recepies</a></li>
          <li><strong>|</strong></li>
          <li><a href="#">Cart</a></li>
        </ul>
    </nav>
    </div>

    <div class="page-content">
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="catagories.html">Categories</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>

      <div class="article">
        <ul class="breadcrumb">
          <li>H<i>ome</i></li>
          <li>></li>
          <li>C<i>atagories</i></li>
          <li>></li>
          <li>I<i>tem</i></li>
        </ul>
        <div class="image-container">
          <img alt="item image" class="item-image" src="static/microwave.png" />
          <div class="image-side-description">
            <p><strong>Microwave Oven</strong></p>
            <p> Electric Applicances </p>
            <ul class="ratings-bar">
              <li> <img alt="star" class="ratings-image" src="static/star-image.png" /> </li>
              <li> <img alt="star" class="ratings-image" src="static/star-image.png" /> </li>
              <li> <img alt="star" class="ratings-image" src="static/star-image.png" /> </li>
              <li> <img alt="star" class="ratings-image" src="static/star-image.png" /> </li>
              <li> <img alt="star" class="ratings-image" src="static/star-image.png" /> </li>
            </ul>
        </div>
        </div>
        <div class="image-container-buttons">
          <form action="my-items.html" method="post">
            <button class="button" type= "submit" >
              <img alt="heart-image" class="button-image" src="static/like.png">
              Save it
            </button>
            <button class="button" type="button" >
              <img alt="star-image" class="button-image" src="static/fav.png">
              Rate it
            </button>
          </form>
          <p>This product helps in heating up any kind of food items within a less amount of time by using microwaves produced electrically </p>
      </div>
      <h4>Specifications</h4>
      <ul class="item-description">
        <li class="list-item">Any bowls with the microwave protection enabled can be put inside this device to heat the food </li>
        <li class="list-item">This device has multiple modes of usage namely cooking mode, defrost mode, re-heat mode, Pizza mode,
          custom heat mode and slow-heat mode</li>
        <li class="list-item">This device has clear count down timer to display time remaining for cooking</li>
        <li class="list-item">This device beeps twice when the assigned job is done, which helps us to be reminded of the food kept inside</li>
      </ul>
      <h4>Directions</h4>
      <ul class="item-description">
        <li class="list-item">Place the microwave on a flat, dry surface. A clean counter in your kitchen or a solid, wooden table would be good for the microwave.
          Do not put the microwave near a gas or electric range</li>
        <li class="list-item">Check that the roller ring and glass tray are secure in the microwave
        The glass tray should spin around on the roller ring easily and smoothly.</li>
        <li class="list-item">Place the bowl with contents safely in the microwave and set the mode and timer.
          After it is done take it out carefully and enjoy the food</li>
      </ul>

    </div>
  </div>

    <footer class="footer">
      <p>Footer</p>
    </footer>

  </body>
</html>
