<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Content Sharing - Accessories  </title>

    <link rel="stylesheet" type="text/css" href="static/my-items-style.css">
  </head>
  <body>
    <header class="header">
      <div class="clearfix">
        <p class="logged-user">not signed in</p>
        <img alt="logo" src="static/gif-logo.gif" />
        <h2>Accessories Sharing</h2>
      </div>
    </header>

    <div class="nav-1">
      <nav class="nav-horizontal">
        <ul>
          <li><a href="#">Signin</a></li>
          <li><strong>|</strong></li>
          <li><a href="my-items.html">My Recepies</a></li>
          <li><strong>|</strong></li>
          <li><a href="#">Cart</a></li>
        </ul>
    </nav>
    </div>

    <div class="page-content">
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="catagories.html">Categories</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>

      <div class="article">
        <h2>Saved Accessories List</h2>
        <br /> <br />
        <table>
          <tr>
            <th>Recipe</th>
            <th>Category</th>
            <th>My Rating</th>
            <th>Tested</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td>
              <ul class="my-item-tag">
                <li><img  alt="my tag image" class="my-tag" src="static/my-tag.png" /></li>
                <li><a href=""> Microwave Oven </a></li>
              </ul>
            </td>
            <td>Electric Applicances</td>
            <td>
              <ul class="ratings-bar">
                <li> <img alt="star image" class="star" src="static/star-image.png" /> </li>
                <li> <img alt="star image" class="star" src="static/star-image.png" /> </li>
                <li> <img alt="star image" class="star" src="static/star-image.png" /> </li>
                <li> <img alt="star image" class="star" src="static/star-image.png" /> </li>
                <li> <img alt="star image" class="star" src="static/star-image.png" /> </li>
              </ul>
            </td>
            <td>
              <input type="checkbox" class="tested-checkbox" name="tested" value="tested" checked>
            </td>
            <td>
              <form action="item-details.html">
                <button class="button" type= "submit" >Update</button>
              </form>
            </td>
            <td>
              <button class="button" type= "button" >Delete</button>
            </td>
          </tr>
          <tr class="last-row">
            <td>
              <ul class="my-item-tag">
                <li><img  alt="my tag image" class="my-tag-hidden" src="static/my-tag.png" /></li>
                <li><a href=""> Study Table </a></li>
              </ul>
            </td>
            <td>Furniture</td>
            <td>
              <ul class="ratings-bar">
                <li> <img alt="star image" class="star" src="static/star-image.png" /> </li>
                <li> <img alt="star image" class="star" src="static/star-image.png" /> </li>
                <li> <img alt="star image" class="star" src="static/star-image.png" /> </li>
                <li> <img alt="star image" class="star" src="static/star-image.png" /> </li>
              </ul>
            </td>
            <td></td>
            <td>
              <form action="item-details.html">
                <button class="button" type= "submit" >Update</button>
              </form>
            </td>
            <td>
              <button class="button" type= "button" >Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <footer class="footer-two">
        <ul class="my-item-tag">
          <li><img alt="my tag image" class="my-tag" src="static/my-tag.png" /></li>
          <li>indicates that this recipe belongs to you</li>
      </ul>
        <p>click <a href="#">here</a> to share a new recipe</p>
      </footer>
    </div>

    <footer class="footer">
      <p>Accessories Sharing</p>
    </footer>

  </body>
</html>
