<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Content Sharing - Accessories  </title>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/my-items-style.css">
  </head>
  <body>
    <% include header.ejs %>

    <div class="nav-1">
      <% include user-navigation.ejs %>
    </div>

    <div class="page-content">
      <% include site-navigation.ejs %>

      <div class="article">
        <h2>Saved Accessories List</h2>
        <br /> <br />
        <table>
          <tr>
            <th>Recipe</th>
            <th>Category</th>
            <th>My Rating</th>
            <th>Tested</th>
            <th></th>
            <th></th>
          </tr>
          <% for(let i=0;i<data.length;i++){ %>
          <tr>
            <td>
              <ul class="my-item-tag">
                <%if (data[i].testedIt === "true") {%>  <li><img  alt="my tag image" class="my-tag" src="../assets/images/my-tag.png" /></li>  <%}%>
                <li><a href=""> <%= data[i].item %> </a></li>
              </ul>
            </td>
            <td><%= data[i].category %></td>
            <td>
              <ul class="ratings-bar">
                <% let stars = parseInt(data[i].rating);
                  for(let i=0; i<stars ; i++) {
                %>
                   <li> <img alt="star" class="star" src="../assets/images/star-image.png" /> </li>
                 <% } %>
              </ul>
            </td>
            <td>
              <%if (data[i].testedIt === "true") {%> <input type="checkbox" class="tested-checkbox" name="tested" value="tested" checked  readonly> <%}%>
              <%if (data[i].testedIt === "false") {%> <input type="checkbox" class="tested-checkbox" name="tested" value="tested" readonly> <%}%>
            </td>
            <td>
              <form action="/feedback">
                <input type="hidden" name="item-code" value="<%= data[i].code %>" />
                <button class="button" type= "submit" >Update</button>
              </form>
            </td>
            <td>
              <form action="/profile/delete" method="post">
                <input type="hidden" name="item-code" value="<%= data[i].code %>" />
                <button class="button" type="submit" >Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </table>
      </div>
      <footer class="footer-two">
        <ul class="my-item-tag">
          <li><img alt="my tag image" class="my-tag" src="../assets/images/my-tag.png" /></li>
          <li>indicates that this recipe belongs to you</li>
      </ul>
        <p>click <a href="#">here</a> to share a new recipe</p>
      </footer>
    </div>

    <% include footer.ejs %>

  </body>
</html>
