<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/catagories">Categories</a></li>
    <li><a href="#">Store</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>
