<nav class="nav-horizontal">
  <ul>
    <li><a href="#">Signin</a></li>
    <li><strong>|</strong></li>
    <li><a href="/my-items">My Recepies</a></li>
    <li><strong>|</strong></li>
    <li><a href="#">Cart</a></li>
  </ul>
</nav>
