* {box-sizing: border-box;}

nav {
  float: left;
  width: 15%;
  height: 100%;
  background: #b7f5f7;
  border: 1px solid black;
}

nav ul {
  list-style-type: none;
  padding:0;
}

nav li {
  padding-bottom: 5%;
  padding-left: 2%;
  font-size: 1vw;
}

.article ul {
  list-style-type: none;
}

.article li{
  padding-bottom: 1%;
}

ul a {
  text-decoration: none;
}

.page-content:after {
  content: "";
  display: table;
  clear: both;
}

.article {
  background-color: white;
  overflow:auto;
  padding-left:1%;
  height:85%;
  font-size: 1vw;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header {
  width:100%;
  height: 10%;
  background-color: white;
  justify-content: center;
  padding-left: 40%;
  font-size: 2vh;
  margin-bottom: 0.5%;
  color: black;
  border: 1px solid black;
}

.logged-user {
  float:right;
  overflow: auto;
  padding-top: 0%;
  top: 0;
  padding-right: 1%;
}

.site-name {
  padding-top:1%;
}

.footer {
  height: 5%;
  background-color: white;
  text-align: center;
  color: black;
  overflow: hidden;
  width: 100%;
  position: fixed;
  bottom: 0;
  border: 1px solid black;
  font-size: 2vh;
}

.page-content {
  height: 75%;
  width: 100%;
  position: absolute;
}

img {
  height:1%;
  width:9%;
  float:left;
}

.clearfix {
  overflow: auto;
}

.nav-1 {
  height:7%;
  width:100%;
  margin-bottom: 0.5%;
  text-align: center;
}

.nav-horizontal {
  width: 100%;
  height:100%;
  background: gray;
}

.nav-horizontal ul{
  list-style-type: none;
  padding: 0;
}

.nav-horizontal ul a{
  text-decoration: none;
}

.nav-horizontal ul li{
  display: inline;
}

.button {
  cursor: pointer;
  text-align: center;
  color: white;
  background-color:#43acf2;
  border: none;
  font-size: 100%;
}

table {
  border-collapse: collapse;
  width:70%;
}

th {
  text-align: left;
  border-bottom: 4px solid #ddd;
  padding-top:1%;
}

td {
  text-align: left;
  padding-top:1%;
}

.last-row {
  border-bottom: 4px solid #ddd;
}

.ratings-bar {
  padding: 0;
}

.ratings-bar li{
  list-style-type: none;
  display: inline;
}

.star {
  width:1vw;
  height:1vw;
}

.my-item-tag li{
  list-style-type: none;
  display: inline;
  padding: 0;
}

.my-item-tag {
  padding:0;
}

.my-tag {
  width:20px;
  height:20px;
}

.my-tag-hidden {
  width:20px;
  height:20px;
  visibility: hidden;
}

.footer-two {
  height: 15%;
  background-color: white;
  padding:0;
  color: black;
  padding-left:1%;
  overflow: hidden;
  font-size: 1vw;
}

.tested-checkbox {
  height: 20px;
  width: 20px;
  color: green;
  background-color: green;
}
